@{
    ViewData["Title"] = "Expenses";
}

@model List<appdev_webapp.Models.Expense>

<div class="text-center">
    <h1 class="display-4">Expenses</h1>
    <p>View your expenses here.</p>
    <a asp-controller="Home" asp-action="CreateEditExpense" class="btn btn-primary">Create New Expense</a>
    <table class="table">
        <thead>
            <tr>
                <th> ID </th>
                <th> Value </th>
                <th> Description </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var expense in Model)
                {
                    <tr>
                        <td> @expense.Id</td>
                        <td> @expense.Value</td>
                        <td> @expense.Description</td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td><strong>Total: </strong></td>
                <td colspan="2"> <strong>@Model.Sum(e => e.Value)</strong> </td>
            </tr>
        </tfoot>
    </table>
</div>
