@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="display-4">MyExpenseTracker</h1>
    <p> This app helps you manage your personal finances.</p>

    <div class="card mt-4" style="width: 30rem;">
        <div class="card-header text-center fw-bold">Features</div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">🌙 Toggle Light/Dark Mode</li>
            <li class="list-group-item">✅ Manage your expenses (CRUD)</li>
            <li class="list-group-item">
                📊 Visualize your expenses in a dashboard
            </li>
        </ul>
    </div>

    <div class="mt-4">
        <a href="/Home/Expense">Manage Expenses</a> |
        <a href="/Home/Dashboard">Go to Dashboard</a> 
       
    </div>
</div>
